<template>
    <nav aria-label="Page navigation" v-if="resource && resource.last_page > 1">
        <ul class="pagination">
            <li :class="{disabled: !resource.prev_page_url}" class="prev">
                <a href @click.prevent="load(resource.prev_page_url)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <template v-if="pages && pages[0] > 1">
                <li>
                    <a href @click.prevent="load(resource.first_page_url)">1</a>
                </li>
                <li class="disabled">
                    <a href>...</a>
                </li>
            </template>
            <li v-for="n in pages" :class="{active: n == resource.current_page}">
                <a href @click.prevent="changePage(n)" v-text="n"></a>
            </li>
            <template v-if="pages[pages.length - 1] < resource.last_page">
                <li class="disabled">
                    <a href>...</a>
                </li>
                <li>
                    <a href @click.prevent="load(resource.last_page_url)" v-text="resource.last_page"></a>
                </li>
            </template>
            <li :class="{disabled: !resource.next_page_url}" class="next">
                <a href @click.prevent="load(resource.next_page_url)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</template>

<style>
ul.pagination {
    display: inline-block;
}

ul.pagination li {
    padding: 0;
    margin-right: 5px;
    float: left;
}

ul.pagination li.disabled a {
    cursor: not-allowed;
}

ul.pagination li.active a {
    background: #716aca;
    color: #fff;
}

ul.pagination li.prev a,
ul.pagination li.next a {
    color: #716aca;
    background: #edecf8;
}

ul.pagination li a {
    cursor: pointer;
    display: inline-block;
    height: 2.25rem;
    width: 2.25rem;
    vertical-align: middle;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    color: #898b96;
}
</style>

<script>
export default {
    props: ['resource'],
    methods: {
        changePage(page) {
            // TODO: Check if other parameters exist
            const url = this.resource.path + '?page=' + page;
            this.$emit('load', url);
        },
        load(url) {
            if (url) {
                this.$emit('load', url);
            }
        }
    },
    computed: {
        pages() {
            let paginator = this.resource;
            const total = paginator.last_page;
            const current = paginator.current_page;
            const visible = 5;
            const offset = 2; // For First page and 3 dots.
            const visibleHalf = Math.floor(visible / 2);
            const startTarget = current - visibleHalf;
            const endTarget = current + visibleHalf;
            const startOffset = Math.max(1, startTarget) - startTarget;
            const endOffset = Math.min(total, endTarget) - endTarget;
            const from = Math.max(startTarget + endOffset, 1) - offset <= 1 ? 1 : Math.max(startTarget + endOffset, 1);
            const to = Math.min(endTarget + startOffset, total) + offset >= total ? total : Math.min(endTarget + startOffset, total);
            return (new Array(to - from + 1)).fill(from).map((x, i) => x + i);
        }
    },
};
</script>