<template>
    <div :class="{focus: focused}" class="text-editor">
        <div ref="text" style="height: 200px;"></div>
    </div>
</template>
<style>
.mce-toolbar-grp {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: 300ms;
}

.focus .mce-toolbar-grp {
    height: 32px;
}

.mce-panel {
    border: 0;
}

.text-editor {
    border: 1px solid #ebedf2;
    overflow: hidden;
    border-radius: 4px;
}
div.mce-fullscreen {
    top: 70px;
}
</style>
<script>
// https://github.com/tinymce/tinymce/issues/2836
import tinymce from 'tinymce/tinymce';
import 'tinymce/themes/modern/theme';
// plugins
import 'tinymce/plugins/link/plugin';
import 'tinymce/plugins/autolink/plugin';
import 'tinymce/plugins/paste/plugin';
import 'tinymce/plugins/autoresize/plugin';
import 'tinymce/plugins/media/plugin';
import 'tinymce/plugins/image/plugin';
import 'tinymce/plugins/code/plugin';
import 'tinymce/plugins/fullscreen/plugin';

// Upload image: https://www.tinymce.com/docs/get-started/upload-images/

export default {
    props: ['value'],
    data() {
        return {
            focused: false
        };
    },
    watch: {
        value() {
            if (!this.editor) return;
            this.setValue(this.value);
        },
    },
    methods: {
        setValue(value) {
            if (value == this.editor.getContent()) {
                return;
            }
            value = (this.value === null || this.value === undefined) ? '' : this.value;
            this.editor.setContent(value);
        }
    },
    mounted() {
        tinymce.init({
            target: this.$refs.text,
            skin: false,
            menubar: true,
            statusbar: true,
            relative_urls: false,
            plugins: [
                'autolink link image media paste code fullscreen'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | code ',
            media_live_embeds: true,
            // content_css: '/assets/demo/default/base/style.bundle.css',
            autoresize_bottom_margin: 0,
            file_browser_callback: function(field_name, url, type) {
                var x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName('body')[0].clientWidth;
                var y = window.innerHeight || document.documentElement.clientHeight || document.getElementsByTagName('body')[0].clientHeight;

                var cmsURL = '/laravel-filemanager?field_name=' + field_name;
                if (type == 'image') {
                    cmsURL = cmsURL + '&type=Images';
                } else {
                    cmsURL = cmsURL + '&type=Files';
                }

                tinymce.activeEditor.windowManager.open({
                    file: cmsURL,
                    title: 'Filemanager',
                    width: x * 0.8,
                    height: y * 0.8,
                    resizable: 'yes',
                    close_previous: 'no'
                });
            },
            init_instance_callback: (newEditor) => {
                this.editor = newEditor;

                this.setValue(this.value);

                this.editor.on('change', () => {
                    this.$emit('input', this.editor.getContent());
                });
                this.editor.on('focus', () => {
                    this.focused = true;
                });
                this.editor.on('blur', () => {
                    this.focused = false;
                });

            }
        });
    }

};
</script>