<template>
    <div :class="{'has-danger': (!valid && !busy)}">
        <input type="text" :value="value" @input="validateSlug" @keydown="keydown" @paste="paste" class="form-control slug-input">
        <span class="slug-icon">
            <i class="fa fa-refresh" v-if="busy" aria-hidden="true"></i>
            <span v-else>
                <i class="fa fa-check-circle-o text-success" v-if="valid"></i>
                <i v-else class="fa fa-times-circle text-danger"></i>
            </span>
        </span>
    </div>
</template>
<style>
.slug-input {
    text-indent: 30px;
}

.slug-icon {
    position: absolute;
    top: 6px;
    left: 34px;
}
</style>
<script>
import axios from 'axios';
import _ from 'lodash';

export default {
    props: ['value', 'id', 'lang', 'validationUrl'],
    data() {
        return {
            validSlug: '',
            valid: true,
            busy: false,
        };
    },
    methods: {
        validate: _.debounce(function(slug) {
            axios.get(this.validationUrl, {
                cancelToken: this.source.token,
                params: {
                    lang: this.lang,
                    slug,
                    id: this.id
                }
            }).then(res => {
                if (res.data.valid) {
                    this.validSlug = slug;

                }
                this.valid = res.data.valid;
                this.busy = false;
            }, err => {
                if (err.response.status === 422) {
                    this.valid = false;
                    this.busy = false;
                }
            });
        }, 200),
        validateSlug(e) {
            let slug = e.target.value;

            this.$emit('input', slug);

            if (slug === this.value) {
                return;
            }
            if (this.source) {
                this.source.cancel();
            }

            this.source = axios.CancelToken.source();

            this.busy = true;
            this.validate(slug);
        },
        keydown(e) {
            if (e.shiftKey === true) {
                e.preventDefault();
                return false;
            }
            //numeric
            if (e.which >= 65 && e.which <= 90) {
                return true;
            }
            // alpha
            if (e.which >= 48 && e.which <= 57) {
                return true;
            }
            // dash
            const allowed = [8, 46, 37, 38, 39, 40, 189];
            if (allowed.includes(e.which)) {
                return true;
            }

            e.preventDefault();
            return false;
        },
        paste(e) {
            let data = e.clipboardData.getData('Text') || '';
            e.preventDefault();
            const sanitized = data.toLowerCase()
                .replace(/\s+/g, '-')
                .replace(/[^\w-]+/g, '')
                .replace(/--+/g, '-')
                .replace(/^-+/, '')
                .replace(/-+$/, '');

            this.$emit('input', sanitized);
            this.validate(sanitized);
        }
    },
};
</script>