<template>
    <select class="form-control" @input="changed">
        <option :value="value" v-for="(key, value) in this.column.options" :key="key">{{key}}</option>
    </select>
</template>
<script>
export default {
    props: ['column', 'options'],
    methods: {
        changed(selected) {
            let query = {};
            query['m_' + this.column.key] = selected.target.value;
            this.$emit('input', query);
        },
    }
};
</script>