<template>
    <div>
        <div class="form-horizontal">
            <form-input :form="form" property="name"></form-input>
        </div>
    </div>
</template>


<script>

import Model from 'lib/Model';
import Form from 'lib/Form';
// import UploadFiles from 'lib/UploadFiles';

export default {
    mixins: [Model],
    // mixins: [Model, UploadFiles],
    data() {
        return {
            // method: '/api/<collection>',
            form: new Form(() => {
                return {
                    name: '',
                }
            })
        }
    },
    // mounted() {
    //     this.$on('input', () => {
    //         if (this.$refs.activityLog) {
    //             this.$refs.activityLog.load();
    //         }
    //     })
    // },
}
</script>
