<template>
	<span class="user-column" v-if="value">
		<div class="img-member-avatar" :style="`background-image: url('${value.photo_url}')`"
		:title="value.name"></div>
		<span class="user-name">{{ value.name }}</span>
	</span>
</template>
<style>
	.img-member-avatar {
		display: inline-block;
		background-size: cover;
		width: 32px;
		height: 32px;
		background-position: center center;
		margin-right: 4px;
		border-radius: 50% !important;
	}
	.user-column .user-name, .user-column .img-member-avatar {
		float:left;
	}
</style>
<script>
export default {
    props: ['value']
};
</script>
