<template>
	<span class="user-column" v-if="value && value.sizes && value.sizes.thumb">
		<div class="img-thumb-table" :style="`background-image: url('${value.sizes.thumb}')`"
             :title="value.name"></div>
		<span class="user-name">{{ value.name }}</span>
	</span>
</template>
<style>
    .img-thumb-table{
        display: inline-block;
        background-size: cover;
        width: 32px;
        height: 32px;
        background-position: center center;
        margin-right: 4px;
    }
    .user-column .user-name, .user-column .img-thumb-table {
        float:left;
    }
</style>
<script>
export default {
    props: ['value']
};
</script>
